.not-found {
  position: fixed;
  top: 0; /* hides the navbar on 404  */
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
